/admin-app/beacons/nbproject/private/
/admin-app/beacon-admin/nbproject/private/
/admin-app/nbproject/private/
admin-app/nbproject/build.xml

admin-app/nbproject/configs/android_1.properties

admin-app/nbproject/configs/android.properties

admin-app/nbproject/configs/ios_1.properties

admin-app/nbproject/configs/ios.properties

admin-app/nbproject/plugins.properties

admin-app/nbproject/project.properties

admin-app/nbproject/project.xml

beacon-app/nbproject/build.xml

beacon-app/nbproject/configs/android_1.properties

beacon-app/nbproject/configs/android.properties

beacon-app/nbproject/configs/ios_1.properties

beacon-app/nbproject/configs/ios.properties

beacon-app/nbproject/plugins.properties

beacon-app/nbproject/private/private.properties

beacon-app/nbproject/private/private.xml

beacon-app/nbproject/project.properties

beacon-app/nbproject/project.xml
