<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id=“io.beaconate” version="0.0.1">
    <name>Foosball</name>
    <description>
        beaconate.io demo interactive beacon app.
    </description>
    <author email="justin@beaconate.io” href="http://beaconate.io”>
        beaconate.io
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
